*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.registration-container{
    width: 50%;
    /*border: 1px solid;*/
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}
.registration-btn {
    width: 30%;
    display: flex;
    position: absolute;
    top: 90px;
    margin-bottom: 1rem;
    font-weight: 800;
    letter-spacing: 2px;
}
.registration-btn a{
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.registration-btn > a.active {
    background-color: lightgrey !important;
    color:black;
    font-weight: 600;
}

.logo > a{
    font-size: 2rem !important;
    font-weight: 700 !important;
    display: inline-block;
    background: -webkit-linear-gradient(#710188, #aa8fdb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   margin-bottom: 20px;
   margin-left: 5px;
    letter-spacing: 2px; 
}